# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Data and models
data/
models/
checkpoints/
wandb/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/
